// COLORS
$primary-color: #00ffe5;
$secondary-color: #ff00ea;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color:  #021408; // background color for the site body

$dark-grey: #272727; //contact section

$dark-blue-text: #CCEDED; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
